.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0 5rem 0;
    margin: 0 auto;
    gap: 1.5rem
}

.card-card {
    transition: transform .6s;
    box-shadow: 0 0 0.1rem 0.2rem #fff,
        0 0 0rem #fff,
        0 0 2rem #ff0000,
        0 0 0.4rem 0.4rem #ff0000,
        0 0 2rem #ff0000,
        0 0 2rem #ff0000
}

.card-card a {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
}

.card-card:hover {
    transform: scale(1.0);
    z-index: 1;
}

.card-card {
    transform: scale(0.9);
}

/*#ea4f4c*/

.card-container>.card-card {
    flex-basis: 30%;
}

.card-container .card-card {
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111111;
}

.card-container .card-card .card-items {
    cursor: pointer;
    width: 100%;
}

.card-container .card-items img {
    transform-origin: 50% 10%;
    width: 100%;
    height: 100vh;
    max-height: 25vw;
    overflow: hidden;
    transition: .6s;
}

.card-container .card-card:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform .6s ease;
    opacity: 0.5;
}

.card-container .card-card h2 {
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}

.card-container div h2 {
    max-width: 100%;
    position: sticky;
    box-sizing: border-box;
    margin: 15px 0;
    color: #ffffff;
    font-family: "Bangers", system-ui;
}

.card-container div svg {
    color: #f7d354;
    margin-left: 1rem;
}

.card-container div h2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-container div .Card-Details {
    position: sticky;
    background-color: #af0120;
    border: 2px solid #af0120;
    border-radius: 4px;
    align-items: center;
    transition: 0.4s;
    text-align: center;
    font-weight: bold;
}

.card-container div .Card-Details h2 {
    color: #f7faf8;
    text-shadow: none;

}

.container .Hq img {
    height: 100%;
    max-height: 40vw;
}

.card-container .card-card:hover .Card-Details {
    background-color: #111111;
}

.card-container .card-card:hover .Card-Details h2 {
    color: #d21c2f;
    transition: .5s;
    text-shadow: none;
}

@media only screen and (max-width: 1024px) {
    .card-container>.card-card {
        flex-basis: 30%;
    }

    .card-container div .card-items:hover img {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 768px) {

    .card-container {
        gap: 1rem;
    }

    .card-container>.card-card {
        flex-basis: 100%;
    }

    .card-container .card-items .imagem {
        height: 400px;
        max-height: 60vw;
    }

    .container .Hq .imagem {
        height: 600px;
        max-height: 100vw;
    }

    .card-container div h2 {
        margin: 5% 0 5% 0;
    }
}

@media only screen and (max-width: 480px) {
    .card-container>.card-card {
        flex-basis: 70%;
    }

    .card-container .card-items img {
        height: 250px;
        max-height: 100vw;
    }

    .container .Hq .imagem {
        height: 400px;

    }
}