.Comic {
    display: flex;
    flex-direction: column;
    padding: 0 8% 0 8%;
}

.Comic .picture {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 15px;
}

.Comic .Title {
    margin-left: 7.5%;
}

.Comic .Informations {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Comic .Informations h2 {
    margin: 5px 0;
}

.Comic .Informations h3 {
    margin: 2px 0;
    width: fit-content;
    display: inline;
}

.Comic .Informations p {
    display: flex;
    font-weight: thin;
    margin: 2px 0;
}

.Comic .Informations p img {
    display: flex;
    margin-inline: auto;
    width: 15vw;
}

.Comic .picture {
    perspective: 200vw;
    width: 25%;
}

.Comic .picture:hover img {
    transform: rotateY(0);
    transition: 0.5s;
}

.Comic .picture:hover {
    perspective: 0;
    width: 25%;
    transition: 0.5s;
}

.Comic .picture img {
    transition: 0.5s;
    border: 4px solid;
    margin-bottom: 10px;
    transform: rotateY(30deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    transform-style: preserve-3d;
}

.Comic .picture img::before {
    content: "";
    width: 60px;
    height: 100%;
    transform: rotateY(90deg);
    transform-origin: 0 50%;
    filter: brightness(70%);
}

.Comic .picture img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    transform: rotateY(90deg);
    transform-origin: 0 50%;
    filter: brightness(70%);
}

.Comic .NotFound {
  height: auto;
}

.Comic .description {
    width: 60%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {

    .Comic .picture img {
        transform: none;
        width: auto;
        height: auto;
        transform-origin: none;
    }

    .Comic .picture {
        perspective: 0;
        width: max-content;
        max-width: 50%;
    }

    .Comic .picture:hover {
        perspective: 0;
        width:max-content;
    }

    .Comic .Informations {
        flex-direction: column;
        align-items: center;
    }
}